################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bankproject/obj/Debug
/bankproject/bin/Debug
